<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "Properties.com", root_path, class:"navbar-brand" %>
    </div>
  </nav>      
</header>